<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConnectionStringJDE" value="Server=ifbases\SQL2005; Database=jde; User ID=sa; Password=ifsajde;"></add>
		<add key="ConnectionStringJDE2" value="Password=Sql2008!;Persist Security Info=True;User ID=sa;Initial Catalog=eFactura;Data Source=ARBA-XARB0341\sql2008"></add>

    <add key="ConnectionString" value="Password=Sql2017!;Persist Security Info=True;User ID=sa;Initial Catalog=eFactura;Data Source=LENOVO-T460"></add>
    <!-- 
        <add key="ConnectionString" value="Password=Sql2017!;Persist Security Info=True;User ID=sa;Initial Catalog=eFactura;Data Source=LENOVO-T460"></add>
        <add key="ConnectionString" value="Password=Sql2017!;Persist Security Info=True;User ID=sa;Initial Catalog=eFactura;Data Source=PKCUARTO" > </add>
        <add key="ConnectionString" value="Password=Sql2008!;Persist Security Info=True;User ID=sa;Initial Catalog=eFactura;Data Source=ARBA-XARB0341\sql2008"></add>
    -->
    <add key="AdoHelperAssembly" value="GotDotNet.ApplicationBlocks.Data"></add>
		<add key="AdoHelperClass" value="GotDotNet.ApplicationBlocks.Data.SqlServer"></add>
		
	</appSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
