USE [eFactura]
GO
/****** Object:  StoredProcedure [dbo].[DOCUMENTOS_UPDT]    Script Date: 17/9/2019 14:07:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DOCUMENTOS_UPDT] (
 @DOCUMENTO_ID char(36), @EMPRESA_ID int, @CbteTipo int, @PtoVta int, @CbteNro int, @Concepto int, @DocTipo int, @DocNro bigint, @CbteFecha char(8), @ImpTotal float(53), @ImpTotConc float(53), @ImpNeto float(53), @ImpOpEx float(53), @ImpIva float(53), @ImpTrib float(53), @FchServDesde char(8), @FchServHasta char(8), @FchVtoPago char(8), @MonId char(3), @MonCotiz float(53), @ESTADO_ID char(1), @NOTAS varchar(5000), @FECHA_ALTA datetime, @FECHA_ACTUALIZACION datetime, @ERP_NOMBRE_ARCHIVO varchar(500), @CAE varchar(14))
AS
SET NOCOUNT ON
UPDATE DOCUMENTOS SET EMPRESA_ID = @EMPRESA_ID, CbteTipo = @CbteTipo, PtoVta = @PtoVta, CbteNro = @CbteNro, Concepto = @Concepto, DocTipo = @DocTipo, DocNro = @DocNro, CbteFecha = @CbteFecha, ImpTotal = @ImpTotal, ImpTotConc = @ImpTotConc, ImpNeto = @ImpNeto, ImpOpEx = @ImpOpEx, ImpIva = @ImpIva, ImpTrib = @ImpTrib, FchServDesde = @FchServDesde, FchServHasta = @FchServHasta, FchVtoPago = @FchVtoPago, MonId = @MonId, MonCotiz = @MonCotiz, ESTADO_ID = @ESTADO_ID, NOTAS = @NOTAS, FECHA_ALTA = @FECHA_ALTA, FECHA_ACTUALIZACION = @FECHA_ACTUALIZACION, ERP_NOMBRE_ARCHIVO = @ERP_NOMBRE_ARCHIVO, CAE = @CAE WHERE  DOCUMENTO_ID = @DOCUMENTO_ID