USE [eFactura]
GO
/****** Object:  StoredProcedure [dbo].[EMPRESAS_SEL]    Script Date: 15/7/2019 17:15:47 ******/
/******** PK 15/07 Agregar campos ********/
/******** PK 17/07 Agregar columna INFO_AUXILIAR ********/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[EMPRESAS_SEL] (
 @EMPRESA_ID int)
AS
SET NOCOUNT ON
SELECT EMPRESA_ID, CUIT, PASSWORD, RAZON_SOCIAL, URL_AFIP_WSAA, URL_AFIP_WSFEv1, RUTA_ARCHIVO_CERTIFICADO, EMAILS, TICKET_EXPIRED_DATE, TICKET_TOKEN, TICKET_SIGN, URL_AFIP_WSAA_FECRED, URL_AFIP_WSFEv1_FECRED, TICKET_EXPIRED_DATE_FECRED, TICKET_TOKEN_FECRED, TICKET_SIGN_FECRED, INFO_AUXILIAR FROM EMPRESAS WHERE EMPRESA_ID = @EMPRESA_ID

