USE [eFactura]
GO
/****** Object:  StoredProcedure [dbo].[DOCSFCE_GET]    Script Date: 7/10/2019 12:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[DOCSFCE_GET]
AS
BEGIN
	SET NOCOUNT ON
	DECLARE @PROCESS table (DOCUMENTO_ID char(36)) 
	INSERT INTO @PROCESS 
	SELECT top 150 DOCUMENTO_ID FROM DOCUMENTOS WHERE estadoAfip in (SELECT TRIM(VALOR) FROM PARAMETROS WHERE PARAMETRO_ID like 'ESTADO_DOC%') and CbteTipo > 200 ORDER BY FECHA_ACTUALIZACION DESC
	SELECT * FROM DOCUMENTOS WHERE DOCUMENTO_ID IN (SELECT DOCUMENTO_ID FROM @PROCESS) ORDER BY PtoVta, CbteTipo, CbteNro
	SELECT * FROM DOCUMENTO_TRIBUTOS WHERE DOCUMENTO_ID IN (SELECT DOCUMENTO_ID FROM @PROCESS)
	SELECT * FROM DOCUMENTO_IVA WHERE DOCUMENTO_ID IN (SELECT DOCUMENTO_ID FROM @PROCESS)
	SELECT * FROM EMPRESAS
END

