USE [eFactura]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[DOCUMENTOS_UPDT2] (
@DOCUMENTO_ID char(36), @estadoAfip char(1) = NULL )
AS
SET NOCOUNT ON
UPDATE DOCUMENTOS SET 
estadoAfip= @estadoAfip
WHERE  DOCUMENTO_ID = @DOCUMENTO_ID