USE [eFactura]
GO
/****** Object:  StoredProcedure [dbo].[EMPRESAS_UPDT]    Script Date: 15/7/2019 17:06:36 ******/
/******** PK 15/07 agregado de campos ********/
/******** PK 17/07 Agregar columna INFO_AUXILIAR ********/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[EMPRESAS_UPDT] (
@EMPRESA_ID int, @CUIT bigint, @PASSWORD varchar(250), @RAZON_SOCIAL varchar(500), @URL_AFIP_WSAA varchar(500), @URL_AFIP_WSFEv1 varchar(500), @RUTA_ARCHIVO_CERTIFICADO varchar(500), @EMAILS varchar(5000), @TICKET_EXPIRED_DATE datetime, @TICKET_TOKEN ntext, @TICKET_SIGN ntext, @URL_AFIP_WSAA_FECRED varchar(500), @URL_AFIP_WSFEv1_FECRED varchar(500), @TICKET_EXPIRED_DATE_FECRED datetime, @TICKET_TOKEN_FECRED ntext, @TICKET_SIGN_FECRED ntext, @INFO_AUXILIAR varchar(5000))
AS
SET NOCOUNT ON
UPDATE EMPRESAS SET CUIT = @CUIT, PASSWORD = @PASSWORD, RAZON_SOCIAL = @RAZON_SOCIAL, URL_AFIP_WSAA = @URL_AFIP_WSAA, URL_AFIP_WSFEv1 = @URL_AFIP_WSFEv1, RUTA_ARCHIVO_CERTIFICADO = @RUTA_ARCHIVO_CERTIFICADO, EMAILS = @EMAILS, TICKET_EXPIRED_DATE = @TICKET_EXPIRED_DATE, TICKET_TOKEN = @TICKET_TOKEN, TICKET_SIGN = @TICKET_SIGN, URL_AFIP_WSAA_FECRED = @URL_AFIP_WSAA_FECRED, URL_AFIP_WSFEv1_FECRED = @URL_AFIP_WSFEv1_FECRED, TICKET_EXPIRED_DATE_FECRED = @TICKET_EXPIRED_DATE_FECRED, TICKET_TOKEN_FECRED = @TICKET_TOKEN_FECRED, TICKET_SIGN_FECRED = @TICKET_SIGN_FECRED, INFO_AUXILIAR = @INFO_AUXILIAR  WHERE  EMPRESA_ID = @EMPRESA_ID

