/****** Object:  StoredProcedure [dbo].[EMPRESAS_INS]    Script Date: 17/7/2019 14:19:19 ******/
/******** PK 15/07 Agregado de campos ********/
/******** PK 17/07 Agregar columna INFO_AUXILIAR ********/
USE [eFactura]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[EMPRESAS_INS] (
@EMPRESA_ID int output, @CUIT bigint, @PASSWORD varchar(250), @RAZON_SOCIAL varchar(500), @URL_AFIP_WSAA varchar(500), @URL_AFIP_WSFEv1 varchar(500), @RUTA_ARCHIVO_CERTIFICADO varchar(500), @EMAILS varchar(5000), @TICKET_EXPIRED_DATE datetime, @TICKET_TOKEN ntext, @TICKET_SIGN ntext, @URL_AFIP_WSAA_FECRED varchar(500), @URL_AFIP_WSFEv1_FECRED varchar(500), @TICKET_EXPIRED_DATE_FECRED datetime, @TICKET_TOKEN_FECRED ntext, @TICKET_SIGN_FECRED ntext, @INFO_AUXILIAR varchar(5000))
AS
SET NOCOUNT ON
INSERT INTO EMPRESAS ( CUIT, PASSWORD, RAZON_SOCIAL, URL_AFIP_WSAA, URL_AFIP_WSFEv1, RUTA_ARCHIVO_CERTIFICADO, EMAILS, TICKET_EXPIRED_DATE, TICKET_TOKEN, TICKET_SIGN, URL_AFIP_WSAA_FECRED, URL_AFIP_WSFEv1_FECRED, TICKET_EXPIRED_DATE_FECRED, TICKET_TOKEN_FECRED, TICKET_SIGN_FECRED, INFO_AUXILIAR) VALUES ( @CUIT, @PASSWORD, @RAZON_SOCIAL, @URL_AFIP_WSAA, @URL_AFIP_WSFEv1, @RUTA_ARCHIVO_CERTIFICADO, @EMAILS, @TICKET_EXPIRED_DATE, @TICKET_TOKEN, @TICKET_SIGN, @URL_AFIP_WSAA_FECRED, @URL_AFIP_WSFEv1_FECRED, @TICKET_EXPIRED_DATE_FECRED, @TICKET_TOKEN_FECRED, @TICKET_SIGN_FECRED, @INFO_AUXILIAR)
SET @EMPRESA_ID = SCOPE_IDENTITY()
GO
